{% extends 'layout.html' %}
{% block page_title %}首页{% endblock %}

{% block link_exts %}
<style type="text/css">
    .grid-item{
        margin-bottom: 10px;
    }
    .grid-item img{
        width: 100%;
    }  
</style>
{% endblock %}


{% block content %}
<div class="container">
<!-- 	<div class="jumbotron">
        <h1>Navbar example</h1>
        <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser's viewport.</p>
        <a class="btn btn-lg btn-primary" href="#" role="button">View navbar docs &raquo;</a>
      </div> -->
      <div class="images">
          <div class="row">
              <div class="col text-center" v-for="(category, index) in categories" :cid="category.id" @click="changeCategory(category.id)">[[ category.name ]]</div>
          </div>
          <hr>
          <div class="row text-center">
                <button class="btn btn-outline-info text-center" style="width: 150px" v-if="isLastPage" @click="lastPage">上一页</button>
                &nbsp;&nbsp;
                <button class="btn btn-outline-info text-center" style="width: 150px" v-if="isNextPage" @click="nextPage">下一页</button>
          </div>
          <div class="row grid">
              <div class="col-md-3 grid-item" v-for="(img, index) in data">
                  <img :src="img.url" >
              </div>
          </div>
      </div>
      

</div>
{% endblock %}

{% block script_exts %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
<script type="text/javascript">
    var image = new Vue({
        el: '.images',
        delimiters: ['[[', ']]'],
        data: function () {
            return {
                data: [],
                categories: [],
                count: 0,
                page: 1,
                limit: 20,
                category: 1
            }
        },
        mounted: function (){
            this.getCategory()
        },
        methods: {
            loadImages: function (page, category) {
                var self = this
                $.ajax({
                    url: '/api/pshot/images/',
                    type: 'post',
                    data: JSON.stringify({
                        page: page,
                        size: 'm',
                        limit: self.limit,
                        category: category
                    }),
                    contentType: 'application/json',
                    success: function (res) {
                        self.data = res.data.results
                        self.count = res.data.count
                    }
                })
            },
            getCategory: function () {
                var self = this
                $.post('/api/pshot/categories/').then(function (res) {
                    self.categories = res.data.results
                    self.loadImages(1, self.categories[0].id)
                    self.category = self.categories[0].id
                })
            },
            changeCategory: function (category) {
                this.loadImages(1, category)
                this.category = category
            },
            nextPage: function () {
                this.page = this.page + 1
                this.loadImages(this.page, this.category)
            },
            lastPage: function () {
                this.page = this.page - 1
                this.loadImages(this.page, this.category)
            }
        },
        computed: {
            isNextPage: function () {
                if (this.page < (this.count/this.limit)) {
                    return true
                }
                return false
            },
            isLastPage: function () {
                if (this.page > 1) {
                    return true
                }
                return false
            }
        }
    })
    $('.grid').masonry({
      itemSelector: '.grid-item',
      columnWidth: '.grid-item'
    });
</script>
{% endblock %}